---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation:
  key: Archive
  order: 2
---

<p class="section-header">Archive</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
