---
permalink: /tags/
layout: layouts/home.njk
---
<h1>Tags</h1>

{% for tag in collections.tagList %}
  {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
     <a href="{{ tagUrl | url }}" class="post-tag">
        <span class="post-tag-contents">{{ tag }}</span>
     </a>
{% endfor %}
